DanceProject/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTblByQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTblByQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTblByQueryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPerformance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PerformancePhoto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChoreographerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPerformanceResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceHour" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDateResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddPerformanceDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceHour" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PerformancePlace" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPerformanceDateResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePerformance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePerformanceResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PerformancePhoto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformanceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PerformanceLength" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLengthResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTblByQuerySoapIn">
    <wsdl:part name="parameters" element="tns:GetTblByQuery" />
  </wsdl:message>
  <wsdl:message name="GetTblByQuerySoapOut">
    <wsdl:part name="parameters" element="tns:GetTblByQueryResponse" />
  </wsdl:message>
  <wsdl:message name="AddPerformanceSoapIn">
    <wsdl:part name="parameters" element="tns:AddPerformance" />
  </wsdl:message>
  <wsdl:message name="AddPerformanceSoapOut">
    <wsdl:part name="parameters" element="tns:AddPerformanceResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDateSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDate" />
  </wsdl:message>
  <wsdl:message name="DeleteDateSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDateResponse" />
  </wsdl:message>
  <wsdl:message name="AddPerformanceDateSoapIn">
    <wsdl:part name="parameters" element="tns:AddPerformanceDate" />
  </wsdl:message>
  <wsdl:message name="AddPerformanceDateSoapOut">
    <wsdl:part name="parameters" element="tns:AddPerformanceDateResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePerformanceSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePerformance" />
  </wsdl:message>
  <wsdl:message name="DeletePerformanceSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePerformanceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLengthSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLength" />
  </wsdl:message>
  <wsdl:message name="UpdateLengthSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLengthResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetTblByQuery">
      <wsdl:input message="tns:GetTblByQuerySoapIn" />
      <wsdl:output message="tns:GetTblByQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPerformance">
      <wsdl:input message="tns:AddPerformanceSoapIn" />
      <wsdl:output message="tns:AddPerformanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDate">
      <wsdl:input message="tns:DeleteDateSoapIn" />
      <wsdl:output message="tns:DeleteDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPerformanceDate">
      <wsdl:input message="tns:AddPerformanceDateSoapIn" />
      <wsdl:output message="tns:AddPerformanceDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerformance">
      <wsdl:input message="tns:DeletePerformanceSoapIn" />
      <wsdl:output message="tns:DeletePerformanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLength">
      <wsdl:input message="tns:UpdateLengthSoapIn" />
      <wsdl:output message="tns:UpdateLengthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTblByQuery">
      <soap:operation soapAction="http://tempuri.org/GetTblByQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerformance">
      <soap:operation soapAction="http://tempuri.org/AddPerformance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDate">
      <soap:operation soapAction="http://tempuri.org/DeleteDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerformanceDate">
      <soap:operation soapAction="http://tempuri.org/AddPerformanceDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerformance">
      <soap:operation soapAction="http://tempuri.org/DeletePerformance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLength">
      <soap:operation soapAction="http://tempuri.org/UpdateLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTblByQuery">
      <soap12:operation soapAction="http://tempuri.org/GetTblByQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerformance">
      <soap12:operation soapAction="http://tempuri.org/AddPerformance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDate">
      <soap12:operation soapAction="http://tempuri.org/DeleteDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerformanceDate">
      <soap12:operation soapAction="http://tempuri.org/AddPerformanceDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerformance">
      <soap12:operation soapAction="http://tempuri.org/DeletePerformance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLength">
      <soap12:operation soapAction="http://tempuri.org/UpdateLength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:50985/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:50985/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>